config DIRTY_SYSTEM_DETECTOR
        depends on ARCH_APQ8064 || ARCH_MSM8960 || ARCH_MSM8X60 || ARCH_QSD8X50 || ARCH_MSM7X30 || ARCH_MSM7X00A || ARCH_MSM7227 || ARCH_MSM7225
        default n
        bool "HTC dirty file detector for /system partition"

config HTC_DEBUG_SEND_SIGNAL
        bool "send_signal debug support"
        default y
        help
          This option enables kernel debug log and dump_stack
          if any processes send signal to assinged processes

config HTC_DEBUG_SAVE_BOOT_MSG
        default y
        bool "HTC debug: saving kernel log of booting to memory"
