config MACH_HTC
	bool
	select FB_MSM_MIPI_DSI

menu "HTC Board Selection"
source "arch/arm/mach-msm/htc/Kconfig.board"
endmenu


menu "HTC Specific Patches"

config HTC_BATT_ALARM
	bool "Enable 3.0V device shutdown mechanism"
	depends on HAS_EARLYSUSPEND
	default n
	help
	  Enable 3.0V triggeer level 0 shutdown rule

config HTC_BATT_CORE
	depends on POWER_SUPPLY
	default n
	bool "HTC battery core driver"

config HTC_BATT_8960
	depends on HTC_BATT_CORE
	default n
	bool "HTC battery driver for MSM8960"

config HTC_HEADSET_MGR
	tristate "HTC headset manager driver"
	default n
	help
	  Provides support for HTC headset manager.

config HTC_HEADSET_PMIC
	tristate "HTC PMIC headset detection driver"
	depends on HTC_HEADSET_MGR
	default n
	help
	  Provides support for HTC PMIC headset detection.

config HTC_HEADSET_ONE_WIRE
	tristate "HTC 1-wire headset detection driver"
	depends on HTC_HEADSET_MGR
	default n
	help
	  Provides support for HTC 1-wire headset detection.

config HTC_WAKE_ON_VOL
	bool "Enable wake-on-volume support"
	default y

config HTC_HEADSET_GPIO
	tristate "HTC GPIO headset detection driver"
	depends on HTC_HEADSET_MGR
	default n
	help
	  Provides support for HTC GPIO headset detection.

endmenu
