#
# Include the specific Kconfig file for HTC board
#

# ELITE
source "arch/arm/mach-msm/htc/elite/Kconfig"

# FIGHTER
source "arch/arm/mach-msm/htc/fighter/Kconfig"

# JET
source "arch/arm/mach-msm/htc/jet/Kconfig"

# VILLE
source "arch/arm/mach-msm/htc/ville/Kconfig"

# M7
source "arch/arm/mach-msm/htc/m7/Kconfig"

# T6
source "arch/arm/mach-msm/htc/t6/Kconfig"

# M4
source "arch/arm/mach-msm/htc/m4/Kconfig"

# ZARA
source "arch/arm/mach-msm/htc/zara/Kconfig"

config MACH_HTC_DUMMY
	bool "NONE (No device)"
