config BOARD_HEADER_FILE
	string "HTC board specific header file name"
	default ""

config MACH_VILLE
	depends on ARCH_MSM8960
	select MACH_HTC
	bool "HTC Ville"
	help
	  Support for the HTC VILLE device.
